{
  "env": {
    "es6": true,
    "browser": true,
	"worker": true,
	"jest": true
  },
  
  "rules": {
    "no-unused-vars": 0,
	"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
	"max-len": [2, 250, 4, {"ignoreUrls": true}]  
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
	  "airbnb"
  ],
  "plugins": ["html", "markdown"]
}
