body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./background-pattern.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#pagination{
  margin: 1rem 0;
  text-align: center;
}
#pagination .MuiPagination-ul{
  display: inline-block;
  width: 100%;
  padding: 0;
}
#pagination .MuiPagination-ul li{
  display: inline-block;
}
#pagination .MuiPaginationItem-outlined{
  border: 1px solid rgba(255, 255, 255, 0.50);
}
#pagination .MuiPaginationItem-root {
  color: #fff;
}
#pagination .MuiPaginationItem-outlinedSecondary.Mui-selected{
  color: #f50057;
  border: 1px solid rgba(245, 0, 87, 0.5);
  background: #fff;
}
@media (max-width: 768px){
  body,.MuiTypography-body1{
    font-size: 14px;
  }
  #select-wrapper{
    max-width: 100%
  }
}